td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  min-width: 100px;
  height: 39px;
  padding: 0;
  white-space: nowrap; 
}

th {
  padding: 0 10px;
}

td{
  white-space: normal;
}

// td:hover{
//   background-color: var(--light-gray);
// }

// td { // Will be used for multiline text
//   max-width: 250px; 
// }
.full-space{
  min-width: 20px;
  min-height: 100%;
  max-width: 300px;
  overflow-x: auto;
  height: auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}