<div class="infinite-scroll-x-axis">
  <div style="height: 4vh; width: 92vw;">
    <div style="display: inline-block;" class="p-1">{{currentSprint?.startDate | date:'dd-MM-YYYY'}}</div>
    <div style="display: inline-block;" class="p-1">Release: <b>{{currentSprint?.name}}</b></div>
    <div style="display: inline-block; cursor: pointer;" class="float-right pt-1">
      <i class="fa fa-plus-circle" [popover]="myPopover" [popoverCloseOnMouseOutside]="true" [popoverOnHover]="false">Add Feature / Bug</i>
      <popover-content #myPopover
        placement="bottom-left"
        [animation]="true"
        [closeOnClickOutside]="true">
        <select style="width: 135px; display: block;" class="m-1" (change)="selectModuleOnAddFeature($event)">
          <ng-template ngFor let-module [ngForOf]="kanbanBoard">
            <option value="{{module.id}}">{{module.name}}</option>
          </ng-template>
        </select>
        <app-add-feature [module-id]="addFeatureModuleId" [selected-sprint]="currentSprint" (is-feature-added)="changeAll()"></app-add-feature>
      </popover-content>
    </div>
  </div>
  <div style="overflow-y:auto; height:70vh;">
    <table>
      <tr>
        <th>Modules</th>
        <th>Tasks</th>
        <th>Story Points</th>
        <th>Estimated Start Date</th>
        <th>Estimated End Date</th>
        <th>Duration in days</th>
        <th>Assigned To</th>
        <th>Remarks</th>
        <th>Functional Testability</th>
        <th *ngFor="let sprintDate of sprintDates">{{sprintDate | date:'dd-MM-YYYY'}}</th>
        <td></td>
      </tr>
      <!-- <ng-template *ngFor="let feature of board; let i = index"> -->
      <ng-template ngFor let-feature [ngForOf]="board">
        <tr>
          <th *ngIf="feature.name != ''" [attr.rowspan]="requireColspan(feature.name)"><b>{{feature.name}}</b></th>
          <td><app-editable-text [text-content]="feature.title" (changed)="modifyFeature(modifyColumnIdentifier.title, $event.target.textContent, feature)"></app-editable-text></td>
          <td><app-editable-text [validate-function]="restrictGreaterThan100" [text-content]="feature.storyPoint" (changed)="modifyFeature(modifyColumnIdentifier.storyPoint, $event.target.textContent, feature)"></app-editable-text></td>
          <td><app-switch-text-datepick [date]="feature.startDate" [max]="feature.endDate" (date-changed)="modifyFeature(modifyColumnIdentifier.plannedStartDate, $event,feature)"></app-switch-text-datepick></td>
          <td><app-switch-text-datepick [date]="feature.endDate" [min]="feature.startDate" (date-changed)="modifyFeature(modifyColumnIdentifier.plannedEndDate, $event,feature)"></app-switch-text-datepick></td>
          <td>{{feature.durationInDays}}</td>
          <td><app-switch-text-autocomplete [added-users]="feature.assignee" [other-users]="organizationUser" (is-added)="modifyFeature(modifyColumnIdentifier.includeAssignee,$event,feature)" (is-removed)="modifyFeature(modifyColumnIdentifier.excludeAssignee,$event,feature)"></app-switch-text-autocomplete></td>
          <td><app-editable-text [text-content]="feature.remarks" (changed)="modifyFeature(modifyColumnIdentifier.remarks, $event.target.textContent, feature)"></app-editable-text></td>
          <td>
            <input type="checkbox" [checked]="feature.functionalTestability" (change)="modifyFeature(modifyColumnIdentifier.functionalTestability, $event, feature)">
          </td>
          <td *ngFor="let sprintDate of sprintDates; index as i">
            <app-progress-comment [feature-id]="feature.id" [date]="sprintDate" [scrum-day]="feature.scrumDays[i]"></app-progress-comment>
          </td>
          <td>
            <div style="display: inline-block; margin-right: 20px;">
              <div [style.visibility]="!feature.isFirst?'visible':'hidden'">
                <i class="fa fa-angle-up" style="cursor: pointer;"></i>
              </div>
              <div [style.visibility]="!feature.isLast?'visible':'hidden'">
                <i class="fa fa-angle-down" style="cursor: pointer;"></i>
              </div>
            </div>
            <div style="display: inline-block; vertical-align: top;">
              <i class="fa fa-trash" style="margin-top: 10px; cursor: pointer;"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <app-spinner [is-spinner-active]="kanbanBoardSpinner"></app-spinner>
  </div>
</div>