// General
body {
  padding: 0 1em 1em;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  margin: 0px;
}

.tab-container {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}

.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    margin: 0px !important;
    gap: 5px;
    padding: 1em;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &::before {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
    &::after {
      content: "\002B";
      width: 1em;
      height: 1em;
      text-align: center;
      right: 1rem;
      position: absolute;
    }
  }
  &-content {
    max-height: 0;
    padding-left: 0.2em;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;
    cursor: pointer;
  }
}

// :checked
input:checked {
  + .tab-label {
    &::before {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
  }
}
