<div class="m-3 p-3 invitation-container">
  <div class="table-responsive-sm">
    <table class="table">
      <caption class="caption-decorate">
        Pending Invitations
      </caption>
      <thead>
        <tr class="table-head">
          <th scope="col">Email</th>
          <th scope="col">Date/Time</th>
          <th scope="col">Re Invite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pendingInvitation of pendingInvitationList.pendingInvitations">
          <td>
            <i class="fa fa-envelope mr-2"></i>
            <span>{{ pendingInvitation.email }}</span>
          </td>
          <td>
            <span>{{ pendingInvitation.invitedOn | date: "short" }}</span>
          </td>
          <td>
            <span>Resend</span>
            <i
              class="fa fa-times float-right"
              (click)="openCancelPendingInvitation(content, pendingInvitation)"
              
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator #pendingRef
      [length]="pendingInvitationList.recordCount"
      [pageSize]="count"
      (page)="changeInvitationPage($event)"
    >
    </mat-paginator>
    <app-spinner [is-spinner-active]="loadingPending"></app-spinner>
  </div>
</div>

<div class="m-3 p-3 invitation-container">
  <div class="table-responsive-sm">
    <table class="table" matSort (matSortChange)="sortData($event)">
      <caption class="caption-decorate">
        Closed Invitations
      </caption>
      <tr>
        <th>Name</th>
        <th mat-sort-header="invitedOn">Invited On</th>
        <th>Status</th>
        <th mat-sort-header="actionedOn">Actioned On</th>
      </tr>

      <tr *ngFor="let closedAction of sortedData">
        <td>{{ closedAction.email }}</td>
        <td>{{ closedAction.invitedOn | date: "short" }}</td>
        <td>{{ invitationStatus(closedAction.status) }}</td>
        <td>{{ closedAction.actionedOn | date: "short" }}</td>
      </tr>
    </table>
    <mat-paginator
      [length]="closedInvitationList.recordCount"
      [pageSize]="count"
      (page)="changeClosedInvitationPage($event)"
    >
    </mat-paginator>
    <app-spinner [is-spinner-active]="loadingClosed"></app-spinner>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div>Do you want to cancel the invitation?</div>
    <div
      type="button"
      class="btn btn-outline-dark float-right m-1"
      (click)="modal.close('Save click')"
    >
      No
    </div>
    <div
      type="button"
      class="btn btn-outline-danger float-right m-1"
      (click)="cancelInvitation(modal)"
    >
      <div
        *ngIf="cancellingInvitation"
        class="spinner-border spinner-border-sm"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      Yes
    </div>
  </div>
</ng-template>
