.invitation-container {
    background-color: var(--white);
}

.caption-decorate {
    caption-side: top;
    text-decoration: underline;
}

.table-head {
    color: var(--gray);
}

.resend {
    cursor: pointer;
    padding: 2px;
    border: 1px dotted var(--medium-gray);
}