.input-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.flex-column-sb {
  display: flex;
  justify-content: space-between;
}

.change-case {
  border: none;
  background-color: transparent;
}

.change-case:hover {
  background-color: var(--dark-gray);
}

.darker {
  color: var(--dark-gray);
}