<div class="flex-column">
    <div>Executing: Test suite 1 ({{testRun?.testSuites | suiteCount}})</div>
    <div>Executed: 1 Suites</div>
    <div>Left: 1 Suites</div>
</div>
<div>
    <div class="flex-column-sb border border-secondary p-1">
        <button class="pointer change-case">
            <i class="fa fa-caret-left"></i>
            Prev
        </button>
        <div>
            Test Case {{ testCaseExecutionPointer + 1 }} of {{testRun?.testSuites | caseCount}}
        </div>
        <button class="pointer change-case" (click)="moveToNextTestCase()">
            Next
            <i class="fa fa-caret-right"></i>
        </button>
    </div>
</div>
<div *ngIf="testRun">
    <div class="flex-column-sb">
        <h3 class="heading">{{ testRun.testSuites[testSuiteExecutionPointer].testCases[testCaseExecutionPointer].title }}</h3>
        <div ngbDropdown>
            <div id="dropdownBasic1" ngbDropdownToggle class="pointer">
                <i class="fa fa-check-circle p-1"></i>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>
                        <i class="fa fa-check-circle text-success"></i>
                        Pass Test
                    </button>
                    <button ngbDropdownItem>
                        <i class="fa fa-times-circle text-danger"></i>
                        Fail Test
                    </button>
                    <button ngbDropdownItem>
                        <i class="fa fa-minus-circle text-warning"></i>
                        Block Test
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h5 class="heading">Action</h5>
    

{{testRun | json}}
    <div class="table-responsive-sm">
        <table class="table">
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Navigate to the website</td>
                    <td>
                        <i class="fa fa-check-circle text-success"></i>
                        <i class="fa fa-times-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Enter Username (vikram_shaw)</td>
                    <td>
                        <i class="fa fa-check-circle text-success"></i>
                        <i class="fa fa-times-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enter Password (vikram_shaw)</td>
                    <td>
                        <i class="fa fa-check-circle text-success"></i>
                        <i class="fa fa-times-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <div>Click on Login button</div>
                        <div>EXPECTED RESULT</div>
                        <div>Should login into the system and redirect to admin page.</div>
                    </td>
                    <td>
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-times-circle text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>