<div class="card" style="margin: 5px;" (click)="openFeatureDetailsModal(content)">
  <div class="card-body">
    <div class="card-title">
      <p><i class="fa fa-life-ring" style="color: blue; padding: 0 5px 0 0"></i>{{feature.id}}</p>
      <small>{{feature.title}}</small>
    </div>
  </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Module name should be display here...</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-feature-details [feature]="feature"></app-feature-details>
    </div>
</ng-template>