<div
  class="card"
  style="margin: 5px"
  [class.feature]="feature.workItemType == 1"
  [class.bug]="feature.workItemType == 2"
  (click)="openFeatureDetailsModal(content)"
>
  <div class="card-body">
    <div style="position: relative; height: 15px; margin-top: -30px;">
      <hr style="height:5px;border-width:1;background-color:#78C000;" [style.width]="feature.workCompletionPercentage + '%'">
      <hr style="margin-top: -20px;">
    </div>
    <div class="card-text">
      <div style="float: right;">
        S.P {{feature.storyPoint}}
      </div>
      <span
        *ngIf="feature.isBlocked"
        style="background-color: var(--blocked); color: white"
      >
        Blocked
      </span>
      <div>
        <i
          *ngIf="feature.workItemType == 1"
          class="fa fa-life-ring"
          style="color: blue; padding: 0 5px 0 0"
        ></i>
        <i
          *ngIf="feature.workItemType == 2"
          class="fa fa-bug"
          style="color: red; padding: 0 5px 0 0"
        ></i>
        <div style="display: inline-block; color: gray">#{{ feature.id }}</div>
      </div>
      <div style="font-weight: bold">{{ feature.title | titlecase }}</div>
      <div class="row">
        <div class="col-12">
          <i class="far fa-clock"></i>
          {{ feature.plannedStartDate | date: "mediumDate" }} -
          {{ feature.plannedEndDate | date: "mediumDate" }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="fa fa-spinner"></i>
          {{feature.workCompletionPercentage}}%
        </div>
        <div class="col">
          <app-user-list [user-list]="feature.assignees"></app-user-list>
        </div>
      </div>
      <!-- {{feature | json}} -->
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <app-feature-details
      [feature]="feature"
      (any-changes)="detailsChanged = true"
    ></app-feature-details>
  </div>
</ng-template>
