@import "/src/app/global-variable";

.completed {
  background-color: #61bd4f;
  color: var(--white);
  border-radius: 2px;
  padding: 2px;
}

.not-completed {
  background-color: #ec9488;
  color: var(--white);
  border-radius: 2px;
  padding: 2px;
}

.card {
  cursor: pointer;
  white-space: normal;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px gray;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.bug {
  border-left: 5px solid $bug-color;
}

.feature {
  border-left: 5px solid $feature-color;
}

.epic {
  border-left: 5px solid $epic-color;
}

.pbi {
  border-left: 5px solid $pbi-color;
}

.progress-container {
  position: relative;
  height: 15px;
  margin-top: -30px;
  .virtual-line {
    margin-top: -20px;
  }
  .real-line {
    height:5px;
    border-width:1;
    background-color:#78C000;
  }
}

.feature-card {
  .title {
    font-weight: bold;
  }
  div > .feature-id-color {
    display: inline-block;
    color: gray;
  }
  .blocked-theme {
    background-color: var(--blocked);
    color: white
  }
}