.completed{
    background-color: #61bd4f;
    color: var(--white);
    border-radius: 2px;
    padding: 2px;
}

.not-completed{
    background-color: #ec9488;
    color: var(--white);
    border-radius: 2px;
    padding: 2px;
}

.card{
    cursor: pointer;
    white-space: normal;
}