<div
  class="card"
  [class.feature]="feature.workItemType === 1"
  [class.bug]="feature.workItemType === 2"
  (click)="openFeatureDetailsModal(content)"
>
  <div class="card-body">
    <div class="progress-container">
      <hr class="real-line" [style.width]="feature.workCompletionPercentage + '%'">
      <hr class="virtual-line">
    </div>
    <div class="card-text feature-card">
      <div class="float-right">
        S.P {{feature.storyPoint}}
      </div>
      <span
        *ngIf="feature.isBlocked"
        class="blocked-theme"
      >
        Blocked
      </span>
      <div>
        <i
          *ngIf="feature.workItemType === 1"
          class="fa fa-life-ring feature-theme"
        ></i>
        <i
          *ngIf="feature.workItemType === 2"
          class="fa fa-bug bug-theme"
        ></i>
        <div class="feature-id-color">#{{ feature.id }}</div>
      </div>
      <div class="title">{{ feature.title | titlecase }}</div>
      <div class="row">
        <div class="col-12">
          <i class="far fa-clock"></i>
          {{ feature.plannedStartDate | date: "mediumDate" }} -
          {{ feature.plannedEndDate | date: "mediumDate" }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="fa fa-spinner"></i>
          {{feature.workCompletionPercentage}}%
        </div>
        <div class="col">
          <app-user-list [user-list]="feature.assignees"></app-user-list>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <app-feature-details
      [feature]="feature"
      (any-changes)="detailsChanged = true"
    ></app-feature-details>
  </div>
</ng-template>
