i::after,
#checklistDropDown::after {
  display: none;
}

.lists {
  padding: 5px;
  background-color: var(--light-gray);
  cursor: pointer;
}

.lists:hover {
  background-color: var(--medium-gray);
}

#storyPoint {
  border: 1px dotted rgba(0, 0, 0, 0);
}

#storyPoint:hover {
  border: 1px dotted var(--medium-gray);
}

#storyPoint:focus {
  outline: none !important;
  border: 1px solid var(--dark-gray);
}

.feature-color {
  color: blue;
}

.bug-color {
  color: red;
}

.blocked {
  background-color: var(--blocked);
  margin-left: 5px;
  padding: 2px;
  color: white;
  cursor: pointer;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}