<nav class="navbar navbar-expand-sm navbar-light" style="background-color: var(--nav-dark-blue);color: var(--white); position: fixed; width:100%; top: 0;z-index: 3;">
  <img class="nav-link navbar-brand" src="../../assets/ProductFocus.png" height="50px" alt="image">
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="!loginDisplay">
        <a style="color: var(--white); cursor: pointer;" *ngIf="!loginDisplay" (click)="login()">Login</a>
      </li>
      <li class="nav-item dropdown" *ngIf="loginDisplay" ngbDropdown>
        <a class="nav-link dropdown-toggle avatar" id="id01" ngbDropdownToggle style="color: var(--light-gray);">AS</a>
        <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" >Profile</a>
          <a class="dropdown-item" type="button" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="side-nav">
  <ul>
    <li>
      <a routerLink="/home">
      <span class="icon"><i class="fa fa-home"></i></span>
      <span class="title">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/product-modules">
        <span class="icon"><i class="fa fa-list"></i></span>
        <span class="title">Modules</span>
      </a>
    </li>
    <li>
      <a routerLink="/news-report">
        <span class="icon"><i class="fa fa-newspaper"></i></span>
        <span class="title">News Report</span>
      </a>
    </li>
    <li>
      <a routerLink="/product-roadmap">
        <span class="icon"><i class="fa fa-road"></i></span>
        <span class="title">Product Roadmap</span>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
