*,::after,::before{
    margin-right: 0;
}

input{
    outline: none;
    width: 48.5%;
    border: 1px solid #D2DCE4;
    background-color: #f5f6f8;
    border-radius: 3px;
    padding: 7px 14px;
}

.fa-times {
    cursor: pointer;
}

.imaginary-line:not(:last-child)::after{
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  background: #D2DCE4;
  width: 1px;
  left: 17px;
  top: 35px;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn {
	display: inline-block;
	border: 1px solid #D2DCE4 !important;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.1;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 4px;
    .selected-item{
        background-color: #EEEBF1 !important;
        border: 1px solid #EEEBF1 !important;
        color: #130D30 !important;
    }
    .selected-item>a{
        color: #707070 !important;
        padding-left: 10px !important;
    }
}

.search-results {
    height: 84vh;
    overflow: auto;
}

.partial-avatar:not(:first-child) {
    margin-left: -15px;
}

.news-report-container {
    min-height: 80vh;
    overflow: auto;
    .side-border {
        border-right: 1px solid #D2DCE4;
    }
}

.news-report-content {
    margin-left: 20px;
    .heading {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 23px;
    }
    .body {
        position: relative;
        margin-bottom: 65px;
        .title {
            display: inline-block;
            position: absolute;
            margin-left: 15px;
            font-size: 16px;
            max-width: 260px;
        }
        .created-by {
            display: inline-block;
            position: absolute;
            margin-left: 15px;
            bottom: -20px;
            color: gray;
        }
        .module {
            display: inline-block;
            position: absolute;
            right: 200px;
            span {
                color: #B1B1B1;
            }
        }
        .date {
            display: inline-block;
            position: absolute;
            right: 0;
            span {
                color: #B1B1B1;
            }
        }
        .owners {
            display: inline-block;
            position: absolute;
            left: 50px;
            bottom: -60px;
        }
    }
}

.heading {
    margin-top: 20px;
    color: #76718D;
}
.filter-head {
    font-weight: bold;
    font-size: 20;
    color: #130D30;
}