.full-space{
  min-width: 20px;
  min-height: 100%;
  max-width: 300px;
  overflow-x: auto;
  height: auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}

div[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: gray;
}

div[contenteditable=true] {
  outline: 1px solid transparent;
}

div[contenteditable=true]:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

div[contenteditable=true]:focus{
  outline: 1px solid gray;
  cursor:text;
  background-color: var(--dark-gray);
}