<div class="progress-comment-container">
  <div
    class="percentage"
    contenteditable="true"
    placeholder="Enter work %"
    #workpercent
    (keypress)="restrictGreaterThan100(workpercent,$event.charCode)"
    (focusout)="upsertScrumWorkCompletionPercentage($event)"
    >{{scrumDay?.workCompletionPercentage}}</div>
    <!--Do not add any space in data binding-->
  <div
    class="comment"
    contenteditable="true"
    placeholder="Write comment here..."
    (focusout)="upsertScrumComment($event)"
  >{{scrumDay?.comment}}</div>
  <!--Do not add any space in data binding-->
</div>
