input{
  text-align: center;
}
textarea:focus,
input:focus {
  outline: none;
  border: none;
}

.switch-area {
  height: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
