<div class="row m-0">
    <div class="col-sm-6 col-md-3">
        <div>
            <h2 class="heading">{{ testRun?.title }}</h2>
        </div>
        <div class="tab-container">
            <div class="tabs">
                <div class="tab" *ngFor="let suite of testRun?.testSuites">
                    <input type="checkbox" id="{{suite.id}}">
                    <label class="tab-label" for="{{suite.id}}">
                        <mat-checkbox [(ngModel)]="suite.isIncluded"
                            (ngModelChange)="changeSuiteChoice(suite, $event)">
                            <i class="far fa-folder mr-1"></i>
                            {{suite.title}} ({{suite.testCases.length}})
                        </mat-checkbox>
                    </label>
                    <div class="tab-content">
                        <ul class="tab-list-items">
                            <li class="tab-list-item" *ngFor="let testCase of suite.testCases">
                                <mat-checkbox [(ngModel)]="testCase.isIncluded"
                                    (ngModelChange)="changeCaseChoice(suite, testCase, $event)">
                                    <i class="far fa-file-alt"></i>
                                    {{testCase.title}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div style="display: flex; flex-direction: row; justify-content: space-between; height: 2rem;">
            <div style="display: flex; flex-direction: row; gap: 1rem;">
                <div><b>Executing:</b></div>
                <div><b>Executed:</b> {{testResultCounter.success + testResultCounter.failure + testResultCounter.blocked}}</div>
                <div><b>Left:</b> {{testResultCounter.total - (testResultCounter.success + testResultCounter.failure + testResultCounter.blocked)}}</div>
            </div>
            <button *ngIf="!hideSummary" class="run-summary" (click)="hideSummary = true;">Run Summary</button>
            <i class="fa fa-times" *ngIf="hideSummary" (click)="hideSummary = false;"></i>
        </div>
        <div *ngIf="hideSummary">
            <div style="display: flex; justify-content: center;">
                <app-chart [counter]="testResultCounter"></app-chart>
            </div>
        </div>
        <app-test-execution
            [testRun]="testRun"
            [firstTestCaseSelected]="firstTestCaseSelected"
            (testResultCounter)="changeCounter($event)"></app-test-execution>
    </div>
</div>