<div class="row m-0">
    <div class="col-sm-6 col-md-3">
        <div>
            <h2 class="heading">{{ testRun?.title }}</h2>
        </div>
        <div class="tab-container">
            <div class="tabs">
                <div class="tab" *ngFor="let suite of testRun?.testSuites">
                    <input type="checkbox" id="{{suite.id}}">
                    <label class="tab-label" for="{{suite.id}}">
                        <mat-checkbox [(ngModel)]="suite.isIncluded"
                            (ngModelChange)="changeSuiteChoice(suite)">
                            <i class="far fa-folder mr-1"></i>
                            {{suite.title}} ({{suite.testCases.length}})
                        </mat-checkbox>
                    </label>
                    <div class="tab-content">
                        <ul class="tab-list-items">
                            <li class="tab-list-item" *ngFor="let testCase of suite.testCases">
                                <mat-checkbox [(ngModel)]="testCase.isIncluded"
                                    (ngModelChange)="changeCaseChoice(suite)">
                                    <i class="far fa-file-alt"></i>
                                    {{testCase.title}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <app-test-execution [testRun]="testRun"></app-test-execution>
    </div>
</div>