<div *ngIf="!error">
  <div
    class="vertical-nav bg-white"
    [class.active]="active"
    id="sidebar"
    style="overflow: auto; display: inline-block;"
  >
    <app-spinner [is-spinner-active]="organizationSpinner"></app-spinner>
    <ul *ngIf="!organizationSpinner" class="nav flex-column bg-white">
      <li class="nav-item">
        <form #organizationForm="ngForm">
          <div class="nav-link success add-organization">
            <div
              *ngIf="!organizationAddView"
              type="button"
              (click)="organizationAddView = true"
              class="create"
            >
              <b>Create an organization</b>
            </div>
            <div *ngIf="organizationAddView" class="add">
              <input
                type="text"
                class="form-control"
                #name="ngModel"
                name="organizationName"
                placeholder="Enter Organization Name"
                [(ngModel)]="organizationName"
                (keyup.enter)="addOrganization()"
                [readonly]="!enabledAdding"
                required
                minlength="4"
              />
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="text-danger" *ngIf="name.errors?.required">
                  Name is required.
                </div>
                <div class="text-danger" *ngIf="name.errors?.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
              <div>
                <button
                  type="submit"
                  [disabled]="organizationForm.invalid || !enabledAdding"
                  (click)="addOrganization()"
                  class="btn good-btn"
                >
                <div *ngIf="!enabledAdding" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                  {{enabledAdding?"Add":"Adding"}}
                </button>
                <i
                  *ngIf="enabledAdding"
                  (click)="organizationAddView = false"
                  class="fa fa-times"
                  id="cancel-task"
                ></i>
              </div>
            </div>
          </div>
        </form>
      </li>
      <li
        *ngFor="let organization of organizationList"
        class="nav-item"
        [class.active-item]="organization.id == selectedOrganization.id"
        (click)="
          setProductList(organization.id); selectOrganization(organization)
        "
      >
        <div class="nav-link">
          {{ organization.name }}
        </div>
      </li>
    </ul>
  </div>

  <div style="display: inline-block; vertical-align: top; width: calc(100vw - 19rem);;">
    <div *ngIf="selectedOrganization" class="ml-5">
      {{ selectedOrganization.name }}
    </div>
    <div *ngIf="!this.organizationSpinner" class="row">
      <div class="col">
        <button
          id="sidebarCollapse"
          class="btn-transparent screen"
          (click)="active = !active"
        >
          <i
            class="fa m-2 ml-5"
            [class.fa-arrow-right]="active"
            [class.fa-arrow-left]="!active"
          ></i>
        </button>
      </div>
      <div class="col">
        <a routerLink="/organization" class="nav-link text-dark float-right">
          <i class="fa fa-cog"></i>
          Settings
        </a>
      </div>
    </div>

    <app-spinner [is-spinner-active]="productSpinner"></app-spinner>
    <div
      [style.display]="!productSpinner"
      *ngIf="selectedOrganization"
      class="row module-content ml-5"
    >
      <div
        *ngFor="let product of productList"
        class="col-lg-4 col-md-6 mt-3 mb-3"
      >
        <div class="column-control">
          <i
            class="fa fa-ellipsis-h"
            style="position: absolute; right: 20px; top: 0px"
          ></i>
          <a routerLink="/product-roadmap">
            <i
              class="fa fa-road fa-2x"
              style="position: absolute; top: 110px; left: 30px"
            ></i>
          </a>
          <a
            [routerLink]="['/products', product.id, 'kanban-board']"
            (click)="setLastProductId(product.id)"
            >{{ product.name }}</a
          >
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 mt-3 mb-3 pointer"
        *ngIf="!productAddView || !productSpinner"
      >
        <div
          *ngIf="!productAddView"
          (click)="productAddView = true"
          class="column-control"
        >
          <a><i class="fa fa-plus">Add</i></a>
        </div>
        <div *ngIf="productAddView" class="add-product add">
          <form #productForm="ngForm" (ngSubmit)="addProduct()">
            <input
              type="text"
              name="productname"
              class="form-control"
              #productname="ngModel"
              [(ngModel)]="productName"
              (keyup.enter)="addProduct()"
              placeholder="Enter product name"
              [readonly]="!enabledAdding"
              required
              minlength="4"
            />
            <div *ngIf="productname.invalid && (productname.dirty || productname.touched)">
              <div class="text-danger" *ngIf="productname.errors?.required">
                Name is required.
              </div>
              <div class="text-danger" *ngIf="productname.errors?.minlength">
                Enter atleast 4 characters.
              </div>
            </div>
            <div>
              <button
                [disabled]="productForm.invalid || !enabledAdding"
                type="submit"
                class="btn good-btn"
              >
                <div *ngIf="!enabledAdding" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                  {{enabledAdding?"Add":"Adding"}}
              </button>
              <i *ngIf="enabledAdding"
                (click)="productAddView = false"
                class="fa fa-times"
                id="cancel-task"
              ></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!!error">
  <app-error [error]="error"></app-error>
</div>