.nav li {
  cursor: pointer;
}

.page-content {
  width: calc(100% - 18rem);
  margin-left: 17rem;
  transition: all 0.4s;
}


.add div button {
  margin: 5px 5px 5px 0;
}

.btn-transparent {
  border: none;
  background-color: rgba(17, 17, 17, 0.007);
}

.active-item {
  border-left: 2px solid #fe9600;
  background-color: var(--dark-gray);
}

.nav-item:hover {
  background-color: var(--light-gray);
}

a:link {
  text-decoration: none;
}

.vertical-nav {
  width: 17vw;
  height: 83vh;
  overflow: auto;
  display: inline-block;
}

.column-control {
  background-color: var(--white);
  padding: 65px 25px 65px 25px;
  height: 150px;
  text-align: center;
  i.ellipsis {
    position: absolute;
    right: 20px;
    top: 0px;
  }
  a > i.news-report {
    position: absolute;
    top: 110px;
    left: 30px;
  }
  .product-name {
    word-break: break-all;
    color: #007bff;
  }
}

.add-product {
  background-color: var(--white);
  padding: 40px 25px;
  height: 150px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.add-organization {
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-small;
}

.organization-container {
  display: inline-block;
  vertical-align: top;
  width: 81vw;
}

.organization-head {
  font-size: large;
  font-weight: bold;
}

.product-container {
  max-height: 78.5vh;
  overflow: hidden;
  overflow: auto;
  background-color: var(--light-gray);
}

.product-card {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 0;
  position: absolute;
  bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .vertical-nav {
    width: auto;
    height: auto;
  }
  .flex-column {
    flex-direction: row !important;
  }
  .organization-container {
    width: 100vw;
  }
}