<div *ngIf="!error">
  <div class="vertical-nav" id="sidebar">
    <app-spinner [active]="organizationSpinner"></app-spinner>
    <ul *ngIf="!organizationSpinner" class="nav flex-column">
      <li class="nav-item">
        <form #organizationForm="ngForm" #addOrganizationRef>
          <div class="nav-link add-organization">
            <div
              [style.display]="!organizationAddView?'block':'none'"
              type="button"
              (click)="organizationAddView = true"
            >
              <div class="add-organization"><i class="fa fa-plus"></i> Add new organization</div>
            </div>
            <div *ngIf="organizationAddView" class="add">
              <input
                type="text"
                class="form-control"
                #name="ngModel"
                name="organizationName"
                placeholder="Enter Organization Name"
                [(ngModel)]="organizationName"
                [readonly]="!enabledAdding"
                required
                maxlength="50"
                pattern="^[a-zA-Z0-9]+[a-zA-Z0-9 \-_]*$"
              />
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="text-danger" *ngIf="name.errors?.required">
                  Name is required.
                </div>
                <div class="text-danger" *ngIf="name.errors?.maxlength">
                  Length should not be greater than 50.
                </div>
                <div class="text-danger" *ngIf="name.errors?.pattern">
                  Special characters are not allowed except '-', '_' and white spaces.
                </div>
              </div>
              <div>
                <button
                  type="submit"
                  [disabled]="organizationForm.invalid || !enabledAdding"
                  (click)="addOrganization()"
                  class="btn good-btn"
                >
                <div *ngIf="!enabledAdding" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                  {{enabledAdding?"Add":"Adding"}}
                </button>
                <i
                  *ngIf="enabledAdding"
                  (click)="organizationAddView = false"
                  class="fa fa-times"
                  id="cancel-task"
                ></i>
              </div>
            </div>
          </div>
        </form>
      </li>
      <li
        *ngFor="let organization of organizationList"
        class="nav-item"
        [class.active-item]="organization.id == selectedOrganization.id"
      >
        <div class="nav-link" (click)="selectOrganization(organization)">
          {{ organization.name }}
        </div>
      </li>
    </ul>
  </div>

  <div class="organization-container">
    <div *ngIf="selectedOrganization" class="row pb-2">
      <div class="col">
        <div class="organization-head">{{ selectedOrganization.name }}</div>
      </div>
      <div class="col-auto">
        <div *ngIf="!!this.selectedOrganization">
          <a [routerLink]="['/',selectedOrganization.name]" class="text-dark">
            <i class="fa fa-cog"></i>
            Settings
          </a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
    <app-spinner [active]="productSpinner"></app-spinner>
    <div 
      *ngIf="selectedOrganization && !productSpinner"
      class="row product-container"
    >
      <div
        *ngFor="let product of productList"
        class="col-lg-4 col-md-6 mt-3 mb-3"
      >
        <div class="column-control pointer" [routerLink]="['./products', product.id, 'kanban-board']">
          <i
            class="fa fa-ellipsis-h ellipsis"
          ></i>
          <div class="product-name pointer"
            >{{ product.name }}</div
          >
          <ul class="product-card">
            <li>
              <a [routerLink]="['./products', product.id, 'news-report']">
                <i
                  class="fas fa-chart-bar fa-2x"
                ></i>
              </a>
            </li>
            <li>
              <a [routerLink]="['./products', product.id, 'kanban-board', 'myworkingarea']">
                <i class="fa fa-2x fa-bullseye"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 mt-3 mb-3 pointer"
        *ngIf="!productSpinner"
        #addProductRef
      >
        <div
          (click)="productAddView = true"
          class="column-control"
          [style.display]="!productAddView?'block':'none'"
        >
          <div><i class="fa fa-plus"></i> Add Product</div>
        </div>
        <div *ngIf="productAddView" class="add-product add">
          <form #productForm="ngForm" (ngSubmit)="addProduct()">
            <input
              type="text"
              name="productname"
              class="form-control"
              #productname="ngModel"
              [(ngModel)]="productName"
              placeholder="Enter product name"
              [readonly]="!enabledAdding"
              required
              maxlength="50"
              pattern="^[a-zA-Z0-9]+[a-zA-Z0-9 \-_]*$"
            />
            <div *ngIf="productname.invalid && (productname.dirty || productname.touched)">
              <div class="text-danger" *ngIf="productname.errors?.required">
                Name is required.
              </div>
              <div class="text-danger" *ngIf="productname.errors?.maxlength">
                Organization name should not exeed 50 character.
              </div>
              <div class="text-danger" *ngIf="productname.errors?.pattern">
                Only spaces, '-', '_' and alphanumaric characters are allowed.
              </div>
            </div>
            <div>
              <button
              [disabled]="!productForm.valid || !enabledAdding"
                type="submit"
                class="btn good-btn"
              >
                <div *ngIf="!enabledAdding" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                  {{enabledAdding?"Add":"Adding"}}
              </button>
              <i *ngIf="enabledAdding"
                (click)="productAddView = false"
                class="fa fa-times"
                id="cancel-task"
              ></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!!error">
  <app-error [error]="error"></app-error>
</div>