<div class="vertical-nav bg-white" [class.active]="active"id="sidebar">
    <!-- <p class="text-gray font-weight-bold text-uppercase small px-3 pb-4 mb-0">Dumanhill Technologies</p> -->
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark bg-light">
          Dumanhill Technologies
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
          intelliH
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
          Empty Set Technologies
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link success">
          <small>Create an organization</small>
        </a>
      </li>
      <li>
        <a href="./add-user.html" class="nav-link text-dark">
          <i class="fa fa-cog"></i>
          User Settings
        </a>
      </li>
    </ul>
  </div>


  <div class="page-content" [class.active]="active" id="content">
    <button id="sidebarCollapse" (click)="active = !active" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
      <i class="fa mr-2" [class.fa-arrow-right]="active" [class.fa-arrow-left]="!active"></i>
    </button>
    <h2 style="margin: 10px 0px 0px 20px;">Products</h2>
    <div class="row" style="background-color:var(--light-gray); margin:20px;">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="./module.html">Canary</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="./news-report.html">Casanava</a> 
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Cascade</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfish</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <i class="fa fa-ellipsis-h" style="position: absolute; right: 20px; top: 0px"></i>
          <a href="">Bigfoot</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xm-6 margin-top-bottom">
        <div class="column-control">
          <h6><i class="fa fa-plus">Add</i></h6>
        </div>
      </div>
    </div>
  </div>
