.button-wrapper {
    .relative-button {
        position: relative;
        float: right;
        padding: 0.2rem;
        margin-left: 0.5rem;
        top: -26px;
        border: 1px solid lightgray;
        border-bottom: none;
    }
}