<div style="display: inline-block">
  <div
    style="display: table-cell"
    class="avatar user"
    *ngFor="let user of addedUsers; index as i"
    [mdePopoverTriggerFor]="appPopover"
    mdePopoverTriggerOn="hover" #popoverTrigger="mdePopoverTrigger">
    {{ user.name | shortname }}
    <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverPositionY]="'above'">
      <mat-card>
        <mat-card-header>
          <app-user-avatar mat-card-avatar [name]="user.name"></app-user-avatar>
          <mat-card-title>{{user.name}}</mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
          <i class="far fa-times-circle fa-2x text-danger" (click)="removeUser(user)"></i>
        </mat-card-header>
      </mat-card>
    </mde-popover>
  </div>
  <i
    *ngIf="!isAddUserActive"
    class="avatar add-user fa fa-user-plus"
    (click)="isAddUserActive = true; inputTextFocus(inputText)"
  >
  </i>

  <input
    #inputText
    [style.display]="isAddUserActive ? 'inline' : 'none'"
    class="good-border"
    [(ngModel)]="fullUserName"
    (focusout)="isAddUserActive = false"
    (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)"
    (selectItem)="addUser($event)"
    [ngbTypeahead]="search"
    #instance="ngbTypeahead"
    [inputFormatter]="formatter"
    [resultFormatter]="formatter"
    size="10"
  />
</div>