<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Medication">
      <ng-template ngbPanelContent>
        <div style="position: relative;">
          <div class="vertical-line" style="left:calc(100%/365*60)"><small>60</small></div>
          <ul style="list-style-type: none; height: 3px;">
            <li style="background-color: var(--light-gray); margin: 2px; font-size: 11px;">
              <div style="width: calc(100%/12); float: left; text-align: center;">JAN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">FEB</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">APR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAY</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUL</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">AUG</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">SEP</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">OCT</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">NOV</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">DEC</div>
            </li>
          </ul>
          <div>
            <ul style="list-style-type: none;padding:0;">
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <!-- <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*31); width: calc(100%/365*31); background-color: brown; color:var(--white);">PNR medication needs to be transferred to a new tab</small>
                <small style="height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*70); width: calc(100%/365*40); background-color: rgb(118, 165, 42); color:var(--white);">New medication API integration</small> -->
                <app-test-drag 
                  [text]="'PNR medication needs to be transferred to a new tab'"
                  [background-color]="'darkgoldenrod'"
                  [top]="'20px'"
                  [left]="'calc(100%/365*120)'"
                  [width]="'calc(100%/365*31)'"
                  >
                </app-test-drag>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:46px;left:calc(100%/365*5); width: calc(100%/365*80); background-color: rgb(29, 124, 148); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:72px;left:calc(100%/365*5); width: calc(100%/365*50); background-color: rgb(124, 134, 64); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:98px;left:calc(100%/365*15); width: calc(100%/365*120); background-color: rgb(165, 112, 42); color:var(--white);">New medication API integration</small>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Vital">
      <ng-template ngbPanelContent>
        <div style="position: relative;">
          <div class="vertical-line" style="left:calc(100%/365*180)"><small>180</small></div>
          <ul style="list-style-type: none;height: 3px;">
            <li style="background-color: var(--light-gray); margin: 2px; font-size: 11px;">
              <div style="width: calc(100%/12); float: left; text-align: center;">JAN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">FEB</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">APR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAY</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUL</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">AUG</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">SEP</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">OCT</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">NOV</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">DEC</div>
            </li>
          </ul>
          <div>
            <ul style="list-style-type: none;padding:0;">
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*31); width: calc(100%/365*31); background-color: brown; color:var(--white);">PNR medication needs to be transferred to a new tab</small>
                <small style="height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*70); width: calc(100%/365*40); background-color: rgb(118, 165, 42); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:46px;left:calc(100%/365*5); width: calc(100%/365*80); background-color: rgb(29, 124, 148); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:72px;left:calc(100%/365*5); width: calc(100%/365*50); background-color: rgb(124, 134, 64); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:98px;left:calc(100%/365*15); width: calc(100%/365*120); background-color: rgb(165, 112, 42); color:var(--white);">New medication API integration</small>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Telehealth">
      <ng-template ngbPanelContent>
        <div style="position: relative;">
          <div class="vertical-line" style="left:calc(100%/365*360)"><small>360</small></div>
          <ul style="list-style-type: none;height: 3px;">
            <li style="background-color: var(--light-gray); margin: 2px; font-size: 11px;">
              <div style="width: calc(100%/12); float: left; text-align: center;">JAN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">FEB</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">APR</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">MAY</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUN</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">JUL</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">AUG</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">SEP</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">OCT</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">NOV</div>
              <div style="width: calc(100%/12); float: left; text-align: center;">DEC</div>
            </li>
          </ul>
          <div>
            <ul style="list-style-type: none;padding:0;">
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*1); width: calc(100%/365*31); background-color: brown; color:var(--white);">PNR medication needs to be transferred to a new tab</small>
                <small style="height: 20px; overflow: hidden; position: absolute; top:20px;left:calc(100%/365*180); width: calc(100%/365*40); background-color: rgb(118, 165, 42); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:46px;left:calc(100%/365*40); width: calc(100%/365*80); background-color: rgb(29, 124, 148); color:var(--white);">New medication API integration</small>
                <small style="height: 20px; overflow: hidden; position: absolute; top:46px;left:calc(100%/365*121); width: calc(100%/365*40); background-color: rgb(29, 124, 148); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:72px;left:calc(100%/365*5); width: calc(100%/365*50); background-color: rgb(124, 134, 64); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:98px;left:calc(100%/365*15); width: calc(100%/365*120); background-color: rgb(165, 112, 42); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:124px;left:calc(100%/365*45); width: calc(100%/365*320); background-color: rgb(124, 134, 64); color:var(--white);">New medication API integration</small>
              </li>
              <li style="background-color: var(--light-gray); margin: 6px;">&nbsp;
                <small style="text-align: center; height: 20px; overflow: hidden; position: absolute; top:150px;left:calc(100%/365*30); width: calc(100%/365*120); background-color: rgb(165, 112, 42); color:var(--white);">New medication API integration</small>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>