<div class="m-2">
    <div style="display: flex; flex-direction: row-reverse;">
        <div class="pointer add-release" (click)="open(content)">
            <i class="fa fa-plus" ></i> Add Release
        </div>
    </div>
    <div class="table-responsive-sm" *ngIf="releases.length else noreleasefound">
        <table class="table">
            <thead>
                <tr class="table-head">
                    <th scope="col">Version</th>
                    <th scope="col">Status</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Work Items</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let release of releases">
                    <td>{{release.name}}</td>
                    <td>
                        <span [ngSwitch]="release.status">
                            <span *ngSwitchCase="releaseStatusEnum.NotStarted">
                                Not Started
                            </span>
                            <span *ngSwitchCase="releaseStatusEnum.Progress">
                                Progress
                            </span>
                            <span *ngSwitchCase="releaseStatusEnum.Completed">
                                Completed
                            </span>
                            <span *ngSwitchDefault>
                                Not Started
                            </span>
                        </span>

                    </td>
                    <td>{{release.releaseDate | date:'dd/MM/YYYY'}}</td>
                    <td>
                        <div style="display: flex; flex-direction: row; gap: 10px;">
                            <button *ngIf="release.featureCount != 0" class="btn-sm btn-primary">{{release.featureCount}} Features</button>
                            <button *ngIf="release.bugCount != 0" class="btn-sm btn-danger">{{release.bugCount}} Epics</button>
                            <button *ngIf="release.pbiCount != 0" class="btn-sm btn-warning">{{release.pbiCount}} Pbis</button>
                            <button *ngIf="release.epicCount != 0" class="btn-sm btn-info">{{release.epicCount}} Epics</button>
                        </div> 
                    </td>
                    <td><i class="fa fa-edit pointer" (click)="open(content, release)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noreleasefound>
    <div class="message-center">
        <img src="../../../assets/static_images/search.png" class="w-25 h-25" alt="search">
        <h2>No test case selected.</h2>
        <p class="message">Please select a test case / test suite to execute.</p>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <div class="w-100" style="display: flex; justify-content: space-between;">
            <h4 class="modal-title font-weight-bold" id="modal-basic-title">{{release.id?'Update':'Create'}} Release</h4>
            <i class="fa fa-times pointer" aria-label="Close" (click)="modal.dismiss('Cross click')"></i>
        </div>
      </div>
    <div class="p-3">
        <fieldset [disabled]="adding">
            <form #releaseForm="ngForm" (ngSubmit)="createOrUpdateRelease(releaseForm)">
                <div class="form-group">
                    <label for="releasename">Release Name</label>
                    <input class="form-control" placeholder="Enter release name" type="text" id="releasename" required
                        [(ngModel)]="release.name" name="name">
                </div>
                <div class="form-group">
                    <label for="releasedate">Release Date</label>
                    <input class="form-control" placeholder="Select release date" type="date" id="releasedate" required
                    [ngModel]="release.releaseDate | date:'yyyy-MM-dd'" (ngModelChange)="release.releaseDate = $event" name="releaseDate">
                </div>
                <div class="form-group">
                    <label for="releasestatus">Status</label>
                    <mat-select class="form-control" [ngModel]="release.status" name="status">
                        <mat-option *ngFor="let status of releaseStatus" [value]="status.id">
                            {{status.name}}
                        </mat-option>
                    </mat-select>
                </div>
                <button type="submit" [disabled]="releaseForm.invalid" class="btn btn-outline-primary mr-2">
                    <div *ngIf="adding" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    {{release.id?(adding?'Updating':'Update'):(adding?'Adding':'Add')}}
                </button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Cancel</button>
            </form>
        </fieldset>
    </div>
</ng-template>