<div class="margin-for-navs mid-nav">
<div class="mid-nav-item">Filters</div>
<div class="mid-nav-item">
<mat-form-field *ngIf="!!selectedSprint">
  <mat-label>Sprint</mat-label>
  <mat-select [(value)]="selectedSprint.name"
    (selectionChange)="emitEventToChild()">
    <mat-option
      *ngFor="let sprint of allSprint"
      (click)="selectSprint(sprint)"
      [value]="sprint.name">
        {{ sprint.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div class="mid-nav-item">
<mat-form-field>
  <mat-label>Assigned To</mat-label>
  <mat-select
    multiple
    [(ngModel)]="selectedUserIds"
    (selectionChange)="emitEventToChild()"
  >
    <mat-option *ngFor="let user of organizationUser" [value]="user.id">
      {{ user.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div class="mid-nav-item">
  <mat-form-field>
    <mat-label>Group by</mat-label>
    <mat-select [(value)]="selectedGroup" (selectionChange)="groupCategoryChange($event)">
      <mat-option *ngFor="let type of groupCategory(); index as i" [value]="i + 1">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="mid-nav-item">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="isKanbanMode" [checked]="isKanbanMode" (change)="changeMode(true)">Board View</mat-radio-button>
    <mat-radio-button value="!isKanbanMode" [checked]="!isKanbanMode" (change)="changeMode(false)">Scrum View</mat-radio-button>
  </mat-radio-group>
</div>
<div class="d-inline-block position-absolute move-right">
<div ngbDropdown class="d-inline-block float_right position-static" placement="bottom-right">
  <i class="fa fa-cog fa-2x mt-3" id="settingsDropDown" ngbDropdownToggle></i>
  <div ngbDropdownMenu aria-labelledby="settingsDropDown">
    <button ngbDropdownItem (click)="openPopup(manageModuleContent)">
      Manage Modules
    </button>
    <button ngbDropdownItem (click)="openPopup(manageSprintContent, 'lg')">
      Manage Sprint
    </button>
  </div>
</div>
</div>
<div *ngIf="!sprintExist || modules.length === 0" class="sprint-traveller">
  <div>
    Add a sprint / module here.
  </div>
  <i class="fa fa-arrow-right mt-1"></i>
</div>
</div>
<div class="margin-for-navs">
  <app-board-view *ngIf="isKanbanMode" [events]="eventsSubject.asObservable()" [selected-sprint]="selectedSprint" [selected-group]="selectedGroup" [selected-userids]="selectedUserIds" [kanban-board-spinner]="kanbanBoardSpinner"></app-board-view>
  <app-scrum-view *ngIf="!isKanbanMode" [selected-sprint]="selectedSprint" [events]="eventsSubject.asObservable()" [selected-group]="selectedGroup" [selected-userids]="selectedUserIds"></app-scrum-view>
</div>
<ng-template #manageModuleContent let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let module of modules">
        <div class="module">{{ module.name }}</div>
      </li>
      <li class="list-group-item">
        <div class="add-module">
          <i
            *ngIf="!moduleAddView"
            (click)="moduleAddView = true"
            class="fa fa-plus"
          >
            Add Module</i
          >
          <div *ngIf="moduleAddView">
            <form #addModuleForm="ngForm" (ngSubmit)="addModule()">
              <input
                type="text"
                class="form-control add-module-input"
                [(ngModel)]="moduleName"
                #module="ngModel"
                name="module"
                placeholder="Enter module name"
                required
                maxlength="50"
                pattern="^[a-zA-Z0-9]+[a-zA-Z0-9\s\-_]*$"
              />
              <button
                [disabled]="!enabledAdding || addModuleForm.invalid"
                type="submit"
                class="btn good-btn add-module-btn"
              >
                <div *ngIf="!enabledAdding" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                {{enabledAdding?"Add":"Adding"}}
              </button>
              <i
                *ngIf="enabledAdding"
                (click)="moduleAddView = false"
                class="fa fa-times add-module-close"
                id="cancel-task"
              ></i>
              <div
                *ngIf="module.invalid && (module.dirty || module.touched)"
                class="text-danger"
              >
                <div *ngIf="module.errors?.required">Name is required.</div>
                <div *ngIf="module.errors?.pattern">
                  Only spaces, '-', '_' and alphanumaric characters are allowed.
                </div>
                <div *ngIf="module.errors?.maxlength">
                  Name should not be greater than 50 characters long.
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #manageSprintContent let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="sprintForm" (ngSubmit)="addSprint()">
      <div class="add-sprint">
        <i
          *ngIf="!sprintAddView"
          (click)="sprintAddView = true"
          class="fa fa-plus pointer"
        >
          Add Sprint</i
        >
        <div class="add-sprint-container">
          <div *ngIf="sprintAddView">
            <div class="add-sprint-heading">
              <i class="fa fa-bolt"></i>
              New Sprint
            </div>
            <div class="name">
              Name<span>*</span>
            </div>
            <input
              [attr.disabled]="isSprintAdding?'':null"
              type="text"
              [(ngModel)]="sprintName"
              name="sprintname"
              class="form-control input"
              placeholder="Enter Sprint Name"
              required
              maxlength="50"
              pattern="^[a-zA-Z0-9]+[a-zA-Z0-9\s\-_]*$"
              formControlName="name"
            />
            <div
              *ngIf="
                sprintValidate.invalid && (sprintValidate.dirty || !sprintValidate.untouched)
              "
            >
              <div
                class="text-danger error"
                *ngIf="sprintForm.controls.name.errors?.required"
              >
                Please Enter Sprint Name.
              </div>
              <div class="text-danger error" *ngIf="sprintForm.controls.name.errors?.maxlength">
                Only 50 characters are allowed.
              </div>
              <div
                class="text-danger error-special"
                *ngIf="sprintForm.controls.name.errors?.pattern"
              >
                Only spaces, '-', '_' and alphanumaric characters are allowed.
              </div>
            </div>

            <div class="add-sprint-dates">
              <div>
                Start<span>*</span>
              </div>
              <div class="end">
                End<span>*</span>
              </div>
            </div>
            <ngb-datepicker
              #dp
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              name="sprintdates"
              formControlName="dates"
              [markDisabled]="isDisabled">
            </ngb-datepicker>

            <div *ngIf="sprintValidate.invalid">
              <div
                class="text-danger date-error"
                *ngIf="sprintForm.controls.dates.errors?.dateNotChosen">
                Please select start and end dates.
              </div>
            </div>
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
            <div class="sprint-form-container">
              <button
                [disabled]="sprintForm.invalid || isSprintAdding"
                class="btn good-btn"
                type="submit"
              >
              <div *ngIf="isSprintAdding" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
                {{isSprintAdding?"Adding":"Add"}}
              </button>
              <button
                class="btn reject-btn"
                (click)="sprintAddView = false"
                id="cancel-task"
                [disabled]="isSprintAdding"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mb-2">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Sprint Dates</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sprint of allSprint">
              <td>
                <span>{{ sprint.name }}</span>
              </td>
              <td>
                <span
                  >{{ sprint.startDate | date: "shortDate" }} -
                  {{ sprint.endDate | date: "shortDate" }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
<!-- <div *ngIf="!!error">
  <app-error [error]="error"></app-error>
</div> -->