.infinite-scroll-x-axis {
  white-space: nowrap;
}

.state-section {
  margin-left: 200px;
}

.state-header {
  display: inline-block;
  text-align: center;
  width: 300px;
}

.feature-section {
  text-align: left;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  min-height: 57px;
}

.module {
  display: inline;
  vertical-align: bottom;
}

.module-section {
  background-color: skyblue;
  margin: 5px 0;
  width: fit-content;
  /* border: 1px dashed black; */
  border-radius: 3px;
}

.module-header {
  text-align: center;
  text-overflow: ellipsis;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.card {
  margin: 5px;
  cursor: pointer;
}

.card-footer {
  color: rgba(0, 0, 0, 0.5);
}

.card-footer:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: var(--light-gray);
}

i::after,
#checklistDropDown::after {
  display: none;
}

.mid-nav {
  background-color: var(--light-gray);
  padding: 5px 0px;
  height: var(--mid-nav-height);
}

.mid-nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  vertical-align: middle;
}

.bottom-nav {
  padding: 9px 0px;
  height: var(--bottom-nav-height);
}

.move-right {
  right: 30px;
}

.add-module-input {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
}

.add-module-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.add-module-close {
  display: inline-block;
  vertical-align: middle;
}


.table > thead > tr {
  color: var(--gray);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-module {
  /* background-color: var(--light-gray); */
  cursor: pointer;
}

.add-module {
  margin: 2px;
}

.add-module input {
  width: 80%;
  display: inline;
}

.add div button {
  margin: 5px 5px 5px 0;
}

.remove-hover-effect:hover {
  background-color: #fff !important;
}

div[ngbDropdownMenu] {
  max-height: 200px;
  overflow: auto;
}

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.pointer {
  cursor: pointer;
}

.effect:hover {
  background-color: cyan;
  cursor: pointer;
}

.reason {
  position: absolute;
  font-size: 11px;
  width: 80px;
  top: 5px;
  text-align: center;
}

.change-info {
  position: absolute;
  width: 80px;
  text-align: center;
}

.change-info-user {
  position: absolute;
  width: 80px;
  text-align: center;
  bottom: 15px;
  font-size: 11px;
}

.change-info-date {
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  width: 80px;
  text-align: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.credits {padding-top:50px; display:block; clear:both;}
