<div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="table-head">
          <th scope="col">Title</th>
          <th scope="col">Sprint</th>
          <th scope="col">Sprint</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of organizationMemberList.members">
          <td class="user-data">
            <app-user-avatar [name]="user.name"></app-user-avatar>
            <div class="user-name">{{user.name}}</div>
            <small class="user-email">{{user.email}}</small>
          </td>
          <td>{{user.isOwner?"Owner":"User"}}</td>
        </tr> -->
      </tbody>
    </table>
</div>