<div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="table-head">
          <th scope="col">Title</th>
          <th scope="col">Sprint</th>
          <th scope="col">No.of test suite</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let testPlan of testPlans">
          <td class="user-data">
            <a [routerLink]="['.',testPlan.id]">
              <div class="user-name">{{testPlan.title}}</div>
            </a>
          </td>
          <td>
            <div>{{testPlan.sprintTitle}}</div>
          </td>
          <td>
            <div>{{testPlan.suiteCount}}</div>
          </td>
          <td>
            <div>{{testPlan.testType == 1 ? "Work Item Based" : "Regression Test"}}</div>
          </td>
        </tr>
      </tbody>
    </table>
</div>