<div class="margin-for-navs">
  <div class="row">
    <div class="col-12 col-sm-4 offset-sm-4 profile">
      <h4 class="text-center">Profile</h4>
      <div class="profile-image">
        <img src="../../assets/avtar1.jpg" alt="profile">
        <label for="picture">
          <i class="fa fa-camera fa-2x"></i>
        </label>
        <input type="file" accept="image/x-png,image/gif,image/jpeg" id="picture">
      </div>
      <div class="profile-input">
        <input type="text" placeholder="Enter your name...">
         <button class="btn good-btn">Update</button>
      </div>
    </div>
  </div>
</div>