<div class="infinite-scroll-x-axis">
  <div class="sticky-row">
    <div class="d-inline-block pointer state-section text-center">
      
    </div>
    <div class="state-header">
      <div class="card">
        <div class="card-header">New</div>
      </div>
    </div>
    <div class="state-header">
      <div class="card">
        <div class="card-header">Planned</div>
      </div>
    </div>
    <div class="state-header">
      <div class="card">
        <div class="card-header">Dev In Progress</div>
      </div>
    </div>
    <div class="state-header">
      <div class="card">
        <div class="card-header">SFQ(Submited for QA)</div>
      </div>
    </div>
    <div class="state-header">
      <div class="card">
        <div class="card-header">Done</div>
      </div>
    </div>
  </div>
  <app-spinner [active]="kanbanBoardSpinner"></app-spinner>
  <div cdkDropListGroup>
    <div
      [style.display]="!kanbanBoardSpinner"
      *ngFor="let modules of board; let moduleIndex = index"
    >
      <div class="module-section">
        <div class="feature-container">
          <div *ngIf="modules" class="module-header">
            <span *ngFor="let groupItem of modules.groupList">
              {{ groupItem.groupName | titlecase}}
            </span>
          </div>
          <div *ngFor="let group of modules; let status = index"
            class="feature-section"
            cdkDropList
            (cdkDropListDropped)="drop($event, status)"
            [cdkDropListData]="group"
            [id]="moduleIndex.toString()"
          >
            <div *ngFor="let feature of group" cdkDrag>
              <app-feature (modal-closed)="setKanbanBoard()" [feature]="feature">
              </app-feature>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sprint-not-found-message"
    *ngIf="!board.length && !kanbanBoardSpinner"
  >
      No module found!!
  </div>
</div>