<div class="card" style="margin: 5px" (click)="openFeatureDetailsModal(content)">
    <div class="card-body">
        <div class="card-title">
            <small>{{feature.title}}</small>
        </div>
        <small *ngIf="feature.startDate != ''"
            [class.completed]="feature.noOfTaskCompleted == feature.noOfTask">
            <i class="far fa-clock"></i>{{feature.startDate}}
        </small>
        <small *ngIf="feature.endDate != ''">
            <i class="far fa-clock"></i>{{feature.endDate}}
        </small>
        <small *ngIf="feature.noOfComments != 0">
            <i class="far fa-comments"></i>{{feature.noOfComments}}
        </small>
        <small *ngIf="feature.noOfTask != 0">
            <i class="far fa-check-square"></i>{{feature.noOfTaskCompleted}} / {{feature.noOfTask}}
        </small>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Module name should be display here...</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-feature-details [feature]="feature"></app-feature-details>
    </div>
</ng-template>