/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark-gray: #E5E5E5;
    --light-gray: #EEEEEE;
    --white: #ffffff;
    --nav-blue: #83A8ba;
    --nav-dark-blue: #83A8C9;
}

body{
    font-family: 'Poppins', sans-serif;
}

.content{
    margin:8px;
    background-color: var(--white);
    padding: 4rem 2rem 4rem 2rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.btn-class{
    border-color: var(--nav-dark-blue);
    color: var(--nav-dark-blue);
}

.btn-class:hover{
    background-color: var(--nav-blue);
    color: var(--white);
    border-color: var(--white);
}

.add-feature{
    margin: 5px;
    padding-top: 5px;
    height: 30px;
    cursor: pointer;
}

.add-feature:hover {
    background-color: var(--dark-gray);
}

.input-control{
    border: none;
    background-color: var(--dark-gray);
    border-bottom: 1px solid var(--nav-dark-blue);
}

.input-control:focus{
    outline: none;
}

.column-control{
    background-color: var(--white);
    margin: 1px;
    padding:50px 25px 50px 25px;
    text-align: center;
}

.margin-top-bottom{
    margin-top: 15px;
    margin-bottom: 15px;
}

.avatar{
    text-align: center;
    margin-top: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: blueviolet;
    color:var(--white);
}

.dropdown-toggle::after{
    content: none; 
}

.list-right {
    left: auto;
    right: 0;
}

.column-control > a:hover{
    text-decoration: none;
}

.infinite-scroll-x-axis{
    white-space: nowrap;
    /* overflow: auto; */
    margin:10px;
}

.infinite-scroll-y-axis{
    overflow-x:auto;
    overflow-x: hidden;
    vertical-align:top;
    /* max-height:90vh; */
    width: 280px;
    background-color: var(--light-gray);
    display: inline-block;
}

.card{
    cursor: pointer;
    white-space: normal;
}

.card-footer:hover{
    background-color: var(--light-gray);
}

.card-footer{
    color: rgba(0, 0, 0, 0.5);
}

.completed{
    background-color: #61bd4f;
    color: var(--white);
    border-radius: 2px;
    padding: 2px;
}

.not-completed{
    background-color: #ec9488;
    color: var(--white);
    border-radius: 2px;
    padding: 2px;
}

.message{
    padding-left: 80px;
}

.vertical-line{
    z-index: 1;
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
}

.vertical-line:hover{
    border-left: 2px solid black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
