/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark-gray: #E5E5E5;
    --light-gray: #EEEEEE;
    --white: #ffffff;
    --nav-blue: #83A8ba;
    --nav-dark-blue: #83A8C9;
}

body{
    font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
