<div>
  <h2 class="ml-3">{{organization.name}}</h2>
  <div class="row">
    <div class="col-sm-3">
      <div>
        <ul class="list-group pl-3 pointer">
          <li class="list-group-item" routerLinkActive="active-item" [routerLink]="['members']">Members</li>
          <li class="list-group-item" routerLinkActive="active-item" [routerLink]="['invitations']">Invitations</li>
        </ul>
      </div>
    </div>
    <div class="col organization-setting-container">
      <div class="p-1">
        <div class="p-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
