*{
    margin: 0;
}

.active-item {
  border-left: 2px solid #fe9600;
}

.list-group-item:hover {
  background-color: var(--light-gray);
}

.organization-setting-container {
  overflow: auto;
  height: 75vh;
  div {
    background-color: var(--light-gray);
    div {
      background-color: var(--white);
    }
  }
}