.column-control {
  background-color: var(--white);
  margin: 1px;
  padding: 65px 25px 65px 25px;
  height: 150px;
  text-align: center;
}
.module-content {
  background-color: var(--light-gray);
  margin: 2px;
}

.add div button {
  margin: 5px 5px 5px 0;
}

.add-product {
  background-color: var(--white);
  margin: 1px;
  padding: 40px 25px 40px 25px;
  height: 150px;
}

