<small
  *ngFor="let tag of taglist; index as i"
  style="background-color: lightcyan; padding: 2px; margin: 2px"
  >{{ tag }}
  <i
    style="margin-left: 2px"
    class="fa fa-times effect"
    (click)="removeTag(tag)"
  ></i>
</small>
<small
  *ngIf="!isAddTagActive && taglist.length == 0"
  (click)="isAddTagActive = true; inputTextFocus(inputText)"
  style="
    background-color: lightcyan;
    padding: 2px;
    cursor: pointer;
    margin: 2px;
  "
  >Add tag
</small>
<input
  #inputText
  [style.display]="isAddTagActive ? 'inline' : 'none'"
  class="good-border"
  [(ngModel)]="tagName"
  (focusout)="isAddTagActive = false"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  (selectItem)="addTag($event)"
  [ngbTypeahead]="search"
  style="font-size: 11px; display: inline"
  #instance="ngbTypeahead"
  size="10"
/>
<small
  *ngIf="taglist.length != 0 && !isAddTagActive"
  style="background-color: lightcyan; padding: 2px"
  (click)="isAddTagActive = true; inputTextFocus(inputText)"
>
  <i class="fa fa-plus effect"></i>
</small>
