<div class="focus-container" *ngIf="!loading else loader" cdkDropListGroup>
    <div class="focus-area">
        <h3 class="bold">Working Area</h3>
        <div class="focus" cdkDropList
            [cdkDropListData]="workItems"
            (cdkDropListDropped)="switchWorkingItem($event)">
            <div *ngIf="!!progressWorkItem else noWorkItem">
                <h4>You are currently working on</h4>
                <div style="display: flex; gap: 1rem;">
                    <!--
                        add classes for epic and pbis
                        class color is declared in style.scss
                    -->
                    <i class="fa fa-2x"
                        [ngClass]="{'fa-life-ring text-blue': progressWorkItem?.workItemType === workItemType.Feature,
                                    'fa-bug text-red': progressWorkItem?.workItemType === workItemType.Bug}">
                    </i>
                    <div class="focus-heading-wrapper">
                        <h1 class="focus-heading mb-4">{{progressWorkItem?.title}}</h1>
                    </div>
                </div>
                <p class="text-muted center">
                    {{progressWorkItem?.description}}
                </p>
                <div style="display: flex; justify-content:center;">
                    <mat-slider thumbLabel
                        [value]="progressWorkItem?.workCompletionPercentage"
                        tickInterval="1" 
                        (change)="updateWorkPercentage($event)">
                    </mat-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel-container">
        <div class="side-panel">
            <div class="work-items-container">
                <h5 class="bold">Your work items</h5>
                <div *ngIf="workItems.length == 0" class="message">You are not assigned to any task in the current sprint.</div>
                <ul class="work-items" cdkDropList cdkDropListSortingDisabled>
                    <li class="work-item pointer" *ngFor="let workItem of workItems"
                        [ngClass]="{'text-success': !workItem.isInProgress && workItem.workCompletionPercentage == 100,
                                    'text-danger': !workItem.isInProgress && workItem.workCompletionPercentage != 100,
                                    'text-warning': workItem.isInProgress}" cdkDrag>
                        <i class="fa" [ngClass]="{'fa-check-circle-o': !workItem.isInProgress && workItem.workCompletionPercentage == 100,
                                                    'fa-exclamation-circle': !workItem.isInProgress && workItem.workCompletionPercentage != 100,
                                                    'fa-refresh': workItem.isInProgress}"></i>
                        {{workItem.title}}
                    </li>
                </ul>
            </div>
            <p style="text-align: center; margin: 0.5rem;">
                You can switch to work items by simply dragging the work item into the work area.
            </p>
        </div>
    </div>
</div>

<ng-template #noWorkItem>
    <div style="display: flex; flex-direction: column; align-items: center;" class="w-100">
        <img src="../../../assets/static_images/search.png" class="w-25 h-25" alt="search">
        <h2>No work item found</h2>
        <p class="message">Please drop any work item to your current working area.</p>
    </div>
</ng-template>

<ng-template #loader>
    <app-spinner [active]="loading"></app-spinner>
</ng-template>