<div class="m-3 p-3" style="background-color: var(--white);">
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr style="color: var(--gray)">
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <i class="fa fa-envelope" style="margin-right: 5px;"></i>
                    <small>mark@gmail.com</small>
                    <i class="fa fa-times float-right"></i>
                </td>
                </tr>
                <tr>
                <td>
                    <i class="fa fa-envelope" style="margin-right: 5px;"></i>
                    <small>jacob@gmail.com</small>
                    <i class="fa fa-times float-right"></i>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
