<div class="whole-page">
  <div class="page-container">
    <h1 class="title">Product Focus</h1>
    <p>Now, focus on your work with product focus.</p>
    <div class="row mt-4">
      <div class="col-sm-6 pt-5">
        <p>Sign In to Product Focus</p>
        <button class="btn good-btn login-button" (click)="login()">Login</button>
      </div>
      <div class="col-sm-6">
        <img
          src="../../assets/Product Focus/modules.PNG"
          alt="Module"
          class="image"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="about-product">
          <i class="fa fa-tasks fa-2x"></i>
          <h3>Product Focus Modules</h3>
        </div>
        <p>
          Add/Remove/Delete your modules. You can also add/remove/delete Feature
          from a module.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="about-product">
          <i class="fa fa-newspaper fa-2x"></i>
          <h3>Product Focus News Report</h3>
        </div>
        <p>Every major event is tracked and can be seen in the news report.</p>
      </div>
      <div class="col-sm-4">
        <div class="about-product">
          <i class="fa fa-road fa-2x"></i>
          <h3>Product Focus RoadMap</h3>
        </div>
        <p>Adjust the timeline of your feature accordingly with RoadMap.</p>
      </div>
    </div>
    <h1 class="heading">
      Use all the features provided by product focus to speed up your work
      progress
    </h1>
    <div class="row mt-3">
      <div class="col-sm-7">
        <div>
          <div class="about-product">
            <i class="fa fa-tasks fa-2x"></i>
            <span class="h5">Product Focus Modules</span>
          </div>
          <p class="details">
            You can split your product into multiple modules and place it on a
            card which further can be divide into multiple features. Every feature
            can also be divide into multiple task and assigned to the existing
            user.
          </p>
        </div>
      </div>
      <div class="col-5">
        <img
          src="../../assets/Product Focus/comments.PNG"
          alt="Modules"
          class="image"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <img
          src="../../assets/Product Focus/news_report.PNG"
          alt="Modules"
          class="image"
        />
      </div>
      <div class="col-sm-6 news-report">
        <div class="news-report-content">
          <div class="about-product">
            <i class="fa fa-newspaper fa-2x"></i>
            <span class="h5">Product Focus News Report</span>
          </div>
          <p class="details">
            If you add a module, is will be tracked. Adding a comment is also
            tracked. Every event log is seen in the news report section.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <div>
          <div class="about-product">
            <i class="fa fa-tasks fa-2x"></i>
            <span class="h5">Product Focus RoadMap</span>
          </div>
          <p class="details">
            Adjust expected starting and ending date accordingly just by dragging
            your mouse. Every feature of the module can be seen on the RoadMap.
          </p>
        </div>
      </div>
      <div class="col-6">
        <img
          src="../../assets/Product Focus/roadmap.PNG"
          alt="Modules"
          class="image"
        />
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <img src="../../assets/ProductFocus.png" alt="Dumanhill Technologies" />
      <div class="mt-1">
        <small>&copy; 2021 Product Focus</small>
      </div>
    </div>
  </footer>
</div>