<div style="padding: 80px 20px 0 20px; background-color: var(--light-gray)">
  <h1 style="font-size: 35px; font-weight: 450">Product Focus</h1>
  <p>Now, focus on your work with product focus.</p>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6" style="padding-top: 5%">
      <p>Sign In to Product Focus</p>
      <button class="btn good-btn" style="width: 150px" (click)="login()">
        Login
      </button>
    </div>
    <div class="col-sm-6">
      <img
        src="../../assets/Product Focus/modules.PNG"
        alt="Module"
        style="width: 90%"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-4">
      <div style="color: var(--nav-dark-blue)">
        <i class="fa fa-tasks fa-2x" style="margin: 5px 5px 5px 0"></i>
        <h3>Product Focus Modules</h3>
      </div>
      <p>
        Add/Remove/Delete your modules. You can also add/remove/delete Feature
        from a module.
      </p>
    </div>
    <div class="col-sm-4">
      <div style="color: var(--nav-dark-blue)">
        <i class="fa fa-newspaper fa-2x" style="margin: 5px 5px 5px 0"></i>
        <h3>Product Focus News Report</h3>
      </div>
      <p>Every major event is tracked and can be seen in the news report.</p>
    </div>
    <div class="col-sm-4">
      <div style="color: var(--nav-dark-blue)">
        <i class="fa fa-road fa-2x" style="margin: 5px 5px 5px 0"></i>
        <h3>Product Focus RoadMap</h3>
      </div>
      <p>Adjust the timeline of your feature accordingly with RoadMap.</p>
    </div>
  </div>
  <h1
    style="
      font-size: 35px;
      font-weight: 450;
      text-align: center;
      margin: 20px 0;
    "
  >
    Use all the features provided by product focus to speed up your work
    progress
  </h1>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-7">
      <div>
        <div style="color: var(--nav-dark-blue)">
          <i class="fa fa-tasks fa-2x" style="margin: 5px 5px 5px 0"></i>
          <span style="font-size: large">Product Focus Modules</span>
        </div>
        <p style="width: 200px">
          You can split your product into multiple modules and place it on a
          card which further can be divide into multiple features. Every feature
          can also be divide into multiple task and assigned to the existing
          user.
        </p>
      </div>
    </div>
    <div class="col-5">
      <img
        src="../../assets/Product Focus/comments.PNG"
        alt="Modules"
        style="width: 90%"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6">
      <img
        src="../../assets/Product Focus/news_report.PNG"
        alt="Modules"
        style="width: 90%"
      />
    </div>
    <div class="col-sm-6" style="position: relative; height: 120px">
      <div style="position: absolute; left: 5px">
        <div style="color: var(--nav-dark-blue)">
          <i class="fa fa-newspaper fa-2x" style="margin: 5px 5px 5px 0"></i>
          <span style="font-size: large">Product Focus News Report</span>
        </div>
        <p style="width: 200px">
          If you add a module, is will be tracked. Adding a comment is also
          tracked. Every event log is seen in the news report section.
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6">
      <div>
        <div style="color: var(--nav-dark-blue)">
          <i class="fa fa-tasks fa-2x" style="margin: 5px 5px 5px 0"></i>
          <span style="font-size: large">Product Focus RoadMap</span>
        </div>
        <p style="width: 200px">
          Adjust expected starting and ending date accordingly just by dragging
          your mouse. Every feature of the module can be seen on the RoadMap.
        </p>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../../assets/Product Focus/roadmap.PNG"
        alt="Modules"
        style="width: 90%"
      />
    </div>
  </div>
</div>
<footer
  style="
    background-color: #3a3a3a;
    color: var(--white);
    position: relative;
    height: 90px;
  "
>
  <div style="right: 10px; margin-top: 5px; position: absolute">
    <img
      src="../../assets/ProductFocus.png"
      alt="Dumanhill Technologies"
      style="width: auto; height: 50px"
    />
    <div style="margin-top: 5px">
      <small>&copy; 2021 Product Focus</small>
    </div>
  </div>
</footer>
