[contenteditable]{
    outline: 0px solid transparent;
}

div{
    min-width: 20px;
    min-height: 100%;
    max-width: 300px;
    overflow-x: auto;
    height: auto;
    align-items: center;
}
div:hover{
    background-color: var(--light-gray);
    cursor: pointer;
}
div:focus{
    outline: 1px solid gray;
    cursor:text;
    background-color: var(--dark-gray);
}