<div class="table-responsive-sm">
    <table class="table" matSort (matSortChange)="sortData($event)">
        <tr>
          <th>Name</th>
          <th mat-sort-header="invitedOn">Invited On</th>
          <th>Status</th>
          <th mat-sort-header="actionedOn">Actioned On</th>
        </tr>
      
        <tr *ngFor="let closedAction of sortedData">
          <td>{{closedAction.name}}</td>
          <td>{{closedAction.invitedOn}}</td>
          <td>{{closedAction.status}}</td>
          <td>{{closedAction.actionedOn}}</td>
        </tr>
    </table>
    <a class="ml-2" [routerLink]="['./']">Load more...</a>
</div>