<small *ngIf="addFeatureOrBugStep == 0" (click)="addFeatureOrBugStep = 1"><i class="fa fa-plus"> Add Feature/Bug</i></small>
<div class="add" *ngIf="addFeatureOrBugStep == 1">
    <button class="btn good-btn" style="margin: 5px;" (click)="addType('Feature'); addFeatureOrBugStep = 2;">Feature</button>
    <button class="btn good-btn" style="margin: 5px;" (click)="addType('Bug'); addFeatureOrBugStep = 2;">Bug</button>
    <div>
        <span style="margin: 5px;">Choose type</span>
        <i (click)="addFeatureOrBugStep = 0" class="fa fa-times" id="cancel-task"></i>
    </div>
</div>
<div *ngIf="addFeatureOrBugStep == 2" class="add">
    <i class="fa"
    [class.fa-bug]="workItemType=='bug'"
    [class.fa-life-ring]="workItemType=='feature'"
    [style.color]="workItemType=='bug'?'red':'blue'"
    ></i>
    <textarea type="text" [(ngModel)]="title" class="form-control"
    placeholder="Enter title" rows="2"></textarea>
    <div>
        <button class="btn good-btn" (click)="addFeature()">Add</button>
        <i class="fa fa-times" id="cancel-task" (click)="addFeatureOrBugStep = 0;"></i>
    </div>
</div>