textarea:focus, input:focus{
    outline: none;
    border: none;
}
.section{
    padding: 10px 0 9px 0;
}
.section:hover{
    background-color: var(--light-gray);
    cursor: pointer;
    input{
        background-color: var(--light-gray);
    }
}