.infinite-scroll-x-axis {
    white-space: nowrap;
}

.add-module {
    padding: 10px;
    width: 280px;
    background-color: var(--light-gray);
    cursor: pointer;
    display: inline-block;
}

.add div button {
    margin: 5px 5px 5px 0;
}