<div class="h-100 content-conter">
  <div class="invitation-container">
    <div class="invitation-content" *ngIf="invitationDetails !== undefined">
      <div>
        <app-user-avatar [name]="invitationDetails.senderName"></app-user-avatar>
      </div>
      <div class="mt-2">
        <b>{{invitationDetails.senderName}}</b> invited you to join <b>{{invitationDetails.organizationName}}</b>
      </div>
      <div class="mt-4">
        <div
          class="btn good-btn mr-3 d-inline-block"
          (click)="acceptInvitation()"
        >
          <div
            *ngIf="accepting"
            class="spinner-border spinner-border-sm"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
          Accept Invitation
        </div>
        <div class="btn reject-btn"
        (click)="openRejectInvitation(content)"
        >Decline</div>
      </div>
    </div>
    <div *ngIf="invalidLink !== undefined" class="invitation-content">
      <h1>Oops!</h1>
      <h2 class="invitation-error">{{invalidLink.error}}</h2>
      <p>The invitation may have expired, or you may not have permission to accept it.</p>
      <div class="btn good-btn mt-2" [routerLink]="['/']">My Account</div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div>Do you really want to reject the invitation?</div>
    <div
      type="button"
      class="btn btn-outline-dark float-right m-1"
      (click)="modal.close()"
    >
      No
    </div>
    <div
      type="button"
      class="btn btn-outline-danger float-right m-1"
      (click)="rejectInvitation(modal)"
    >
      <div
        *ngIf="rejecting"
        class="spinner-border spinner-border-sm"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      Yes
    </div>
  </div>
</ng-template>