<app-top-nav></app-top-nav>
<div class="h-100" style="display: grid; place-items: center">
    <div style="width: 600px; height: 300px; border: 2px solid var(--dark-gray);">
        <div style="text-align: center;margin-top: 20px;">
            <div style="margin-top: 10px;">
                <app-user-avatar [name]="'Amit Shaw'"></app-user-avatar>
            </div>
            <div style="margin-top: 10px;">
                <b>Amit Shaw</b> invited you to join <b>Dumanhill Technologies</b>
            </div>
            <div style="margin-top: 20px;">
                <div class="btn good-btn" style="display: inline-block; margin-right: 10px;">Accept Invitation</div>
                <div class="btn reject-btn">Decline</div>
            </div>
        </div>
    </div>
</div>