<span>Total 3</span><span style="float:right;"><button class="btn btn-primary" (click)="open(content)">Invite Member</button></span>
<div class="m-3 p-3" style="background-color: var(--white);">
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr style="color: var(--gray)">
                    <th scope="col">Name</th>
                    <th scope="col">Membership Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <div class="avatar">M</div>
                    <div style="margin: -45px 0 0 50px;">Mark</div>
                    <small style="margin: -10px 0 0 50px;">mark@gmail.com</small>
                </td>
                <td>Owner + Developer</td>
                </tr>
                <tr>
                <td>
                    <div class="avatar">J</div>
                    <div style="margin: -45px 0 0 50px;">Jacob</div>
                    <small style="margin: -10px 0 0 50px;">jacob@gmail.com</small>
                </td>
                <td>Developer</td>
                </tr>
                <tr>
                    <td>
                    <div class="avatar">L</div>
                    <div style="margin: -45px 0 0 50px;">Larry</div>
                    <small style="margin: -10px 0 0 50px;">larry@gmail.com</small>
                    </td>
                <td>Tester</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send Invitation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="btn btn-primary" style="width: 100%;">Send invitation to join</div>
    </div>
  </ng-template>