<span>Total {{organizationMemberList.recordCount}}</span
><span style="float: right"
  ><button class="btn btn-primary" (click)="open(content)">
    Invite Member
  </button></span
>
<div class="m-3 p-3 organization-member-container">
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="table-head">
          <th scope="col">Name</th>
          <th scope="col">Membership Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of organizationMemberList.members">
          <td class="user-data">
            <app-user-avatar [name]="user.name"></app-user-avatar>
            <div class="user-name">{{user.name}}</div>
            <small class="user-email">{{user.email}}</small>
          </td>
          <td>{{user.isOwner?"Owner":"User"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-spinner [is-spinner-active]="gettingUserList"></app-spinner>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send Invitation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #invitationForm="ngForm" (ngSubmit)="sendInvitation(invitationForm)">
      <div class="form-group has-search">
        <div *ngIf="invitation.invalid && (invitation.dirty || invitation.touched)">
          <div class="text-danger" *ngIf="invitation.errors?.required">
            Email is required.
          </div>
          <div class="text-danger" *ngIf="invitation.errors?.email">
            Please enter a valid mail.
          </div>
        </div>
        <span class="fa fa-search form-control-feedback"></span>
          <input
            type="email"
            name="invitation"
            #invitation="ngModel"
            [(ngModel)]="selectedMail"
            class="form-control"
            placeholder="Search"
            [ngbTypeahead]="search"
            [readonly]="sendingInvitationActive"
            required
            pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            email
          />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="width: 100%"
        [disabled]="invitation.invalid || sendingInvitationActive"
      >
        <div
          *ngIf="sendingInvitationActive"
          class="spinner-border spinner-border-sm"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
        {{sendingInvitationActive?"Sending":"Send invitation to join"}}
      </button>
    </form>
  </div>
</ng-template>
