.dropdown-toggle::after {
    content: none;
}

.top-nav{
    background-color: var(--nav-dark-blue);
    color: var(--white);
    position: fixed;
    width:100%;
    top: 0;
    z-index: 3;
}

.top-nav img{
    height: 50px;
}