<nav class="navbar navbar-expand-sm navbar-light top-nav">
  <img
    style="cursor: pointer"
    [routerLink]="['/']"
    class="nav-link navbar-brand"
    src="../../assets/ProductFocus.png"
    alt="image"
  />
  <breadcrumb #parent>  
    <ol class="breadcrumb mt-0 mb-0" style="background-color: transparent;">
      <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
        <li *ngIf="!route.terminal" class="breadcrumb-item">
          <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
        </li>
        <li *ngIf="route.terminal" class="breadcrumb-item" aria-current="page">{{ route.displayName }}</li>
      </ng-template>
    </ol>
  </breadcrumb>
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="currentUserName !== undefined"
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          style="margin-top: 5px"
          id="id01"
          ngbDropdownToggle
        >
          <app-user-avatar [name]="currentUserName"></app-user-avatar>
        </a>
        <div
          class="dropdown-menu"
          style="right: 0; left: auto"
          aria-labelledby="id01"
          ngbDropdownMenu
        >
          <!-- <a class="dropdown-item" type="button" routerLink="/profile"
            >Profile</a
          > -->
          <a class="dropdown-item" type="button" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
