.dropdown-toggle::after {
  content: none;
}

.top-nav {
  background-color: var(--nav-dark-blue);
  color: var(--white);
  width: 100%;
  z-index: 3;
  height: var(--nav-height);
}

.top-nav img {
  height: 50px;
}

.dropdown-popup-left {
  right: 0;
  left: auto;
}