<div class="m-2">
    <div class="flex-row-sb">
        <div>
            <h2 class="heading">{{testPlanDetails?.testPlanTitle}}</h2>
        </div>
        <div>
            <button class="run-btn" (click)="createTestRun()">
                Run
                <i class="fa fa-2x fa-play-circle"></i>
            </button>
        </div>
    </div>
    <div class="row m-0">
        <div *ngIf="testPlanDetails?.testSuites?.length !== 0" class="col-sm-6 col-md-4 border-right">
            <div class="m-1">
                <div class="my-2 flex-col-sb">
                    <div class="suite-title">Test Suites</div>
                    <i class="fa fa-plus-circle pointer" (click)="addSuiteVisibilityToggle(true)"></i>
                </div>
                <div *ngIf="addSuiteVisible then testSuite;"></div>
            </div>
            <div class="tab-container">
                <div class="tabs">
                    <div class="tab" *ngFor="let testSuite of testPlanDetails?.testSuites">
                        <input type="checkbox" id="{{testSuite.testSuiteId}}">
                        <label class="tab-label" for="{{testSuite.testSuiteId}}">
                            <i class="far fa-folder mr-1"></i>
                            {{testSuite.testSuiteTitle}}
                        </label>
                        <div class="tab-add" container="body" ngbDropdown>
                            <i class="fa fa-ellipsis-v" id="dropdownBasic1" ngbDropdownToggle></i>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem
                                  (click)="selectTestSuite(testSuite)">
                                <i class="fa fa-plus"></i>
                                Add a test case
                              </button>
                              <button ngbDropdownItem (click)="reorderTestSuite(testSuiteMovementDirection.Up,testSuite)">
                                <i class="fa fa-arrow-up"></i>
                                Move Up
                              </button>
                              <button ngbDropdownItem (click)="reorderTestSuite(testSuiteMovementDirection.Down,testSuite)">
                                <i class="fa fa-arrow-down"></i>
                                Move Down
                              </button>
                              <button ngbDropdownItem
                                (click)="deleteTestSuite(testSuite)">
                                <i class="fa fa-trash"></i>
                                Delete
                              </button>
                            </div>
                          </div>
                        <div class="tab-content">
                            <ul class="tab-list-items">
                                <li class="tab-list-item pointer"
                                    *ngFor="let testCase of testSuite.testCases"
                                    (click)="onTestCaseSelection(testSuite.testSuiteId,testCase.testCaseId)">
                                    <i class="far fa-file-alt"></i>
                                    {{testCase.testCaseTitle}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!--Creating test case-->
            <div *ngIf="testPlanDetails?.testSuites?.length">
                    <div [ngSwitch]="testMode">
                        <form #newTestCase="ngForm" (ngSubmit)="addTestCase()">
                            <div *ngSwitchCase = "testCaseMode.Add">
                                <h2 class="heading">{{selectedTestSuite?.testSuiteTitle}}
                                    <i class="fa fa-angle-right"></i>
                                    Create Test Case
                                </h2>
                                <div class="input-wrapper my-2">
                                    <label for="testcasename">Title</label>
                                    <input id="testcasename"
                                        class="custom-input p-1"
                                        type="text" name="name"
                                        [(ngModel)]="newTestCaseInput.title"
                                        #testcasetitle="ngModel"
                                        placeholder="Enter test case name"
                                        required>
                                </div>
                                <div class="input-wrapper my-2">
                                    <label for="precondition">Precondition</label>
                                    <textarea id="precondition"
                                        class="custom-input p-1"
                                        type="text" name="name"
                                        [(ngModel)]="newTestCaseInput.preconditions"
                                        #testcasepreconditions="ngModel"
                                        placeholder="Write preconditions here..."></textarea>
                                </div>
                                <div class="table-respoinsive-sm">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-head">
                                            <th scope="col">Steps</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Expected Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let testStep of newTestCaseInput.testSteps">
                                                <td scope="col">{{testStep.step}}</td>
                                                <td scope="col">
                                                    <app-editable-text [text-content]="testStep.action"
                                                    (changed)="testStep.action = $event.target.textContent"></app-editable-text>
                                                </td>
                                                <td scope="col">
                                                    <app-editable-text [text-content]="testStep.expectedResult"
                                                    (changed)="testStep.expectedResult = $event.target.textContent"></app-editable-text>
                                                </td>
                                                <td scope="col"><i class="fa fa-times text-danger" (click)="removeTestStep(newTestCaseInput,testStep)"></i></td>
                                            </tr>
                                            <tr *ngIf="newTestStepAddMode">
                                                <td scope="col">{{ newTestCaseInput.testSteps.length + 1}}</td>
                                                <td scope="col">
                                                    <app-editable-text [text-content]="newTestStepAction"
                                                    (changed)="newTestStepAction = $event.target.textContent"></app-editable-text>
                                                </td>
                                                <td scope="col">
                                                    <app-editable-text [text-content]="newTestStepExpectedResult"
                                                    (changed)="newTestStepExpectedResult = $event.target.textContent"></app-editable-text>
                                                </td>
                                                <td scope="col"><i class="fa fa-times text-danger" (click)="newTestStepAddMode = false"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pointer text-center border p-2" (click)="addNewTestStep()">Click here to a test step</div>
                                    <div class="flex-row-reverse my-2">
                                        <button class="btn btn-sm reject-btn">Cancel</button>
                                        <button type="submit" [disabled]="newTestCase.invalid" class="btn btn-sm good-btn">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <div *ngSwitchCase = "testCaseMode.Update">
                        <form #updateTestCase="ngForm" (ngSubmit)="updateExistingTestCase()">
                            <h2 class="heading">{{testSuiteTitleForDisplay}} > {{testCaseInputForUpdate.testCaseTitle}}</h2>
                            <div class="input-wrapper my-2">
                                <label for="testcasename">Title</label>
                                <input id="testcasename"
                                    class="custom-input p-1"
                                    type="text" name="testcasetitle"
                                    [(ngModel)]="testCaseInputForUpdate.testCaseTitle"
                                    #titleUpdated="ngModel"
                                    placeholder="Enter test case name"
                                    required>
                            </div>
                            <div class="input-wrapper my-2">
                                <label for="precondition">Precondition</label>
                                <textarea id="precondition"
                                    class="custom-input p-1"
                                    type="text" name="testcasepreconditions"
                                    [(ngModel)]="testCaseInputForUpdate.preconditions"
                                    #preconditionUpdated="ngModel"
                                    placeholder="Write preconditions here...">
                                </textarea>
                            </div>
                            <div class="table-respoinsive-sm">
                                <table class="table">
                                    <thead>
                                        <tr class="table-head">
                                        <th scope="col">Steps</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Expected Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let testStep of testCaseInputForUpdate.testSteps; let step = index">
                                            <td scope="col">{{step + 1}}</td>
                                            <td scope="col">
                                                <app-editable-text [text-content]="testStep.action"
                                                    (changed)="testStep.action = $event.target.textContent">
                                                </app-editable-text>
                                            </td>
                                            <td scope="col">
                                                <app-editable-text [text-content]="testStep.expectedResult"
                                                    (changed)="testStep.expectedResult = $event.target.textContent">
                                                </app-editable-text>
                                            </td>
                                            <td scope="col"><i class="fa fa-times text-danger" (click)="removeTestStepInUpdate(testStep)"></i></td>
                                        </tr>
                                        <tr *ngIf="newTestStepAddModeOnUpdate">
                                            <td scope="col">{{ testCaseInputForUpdate.testSteps.length + 1}}</td>
                                            <td scope="col">
                                                <app-editable-text [text-content]="newTestStepAction"
                                                (changed)="newTestStepAction = $event.target.textContent"></app-editable-text>
                                            </td>
                                            <td scope="col">
                                                <app-editable-text [text-content]="newTestStepExpectedResult"
                                                (changed)="newTestStepExpectedResult = $event.target.textContent"></app-editable-text>
                                            </td>
                                            <td scope="col"><i class="fa fa-times text-danger" (click)="newTestStepAddModeOnUpdate = false"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pointer text-center border p-2" (click)="addNewTestStepOnUpdate()">Click here to a test step</div>
                                <div class="flex-row-reverse my-2">
                                    <button class="btn btn-sm reject-btn">Cancel</button>
                                    <button type="submit" [disabled]="updateTestCase.invalid" class="btn btn-sm good-btn">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="!testPlanDetails?.testSuites?.length">
                <figure class="folder">
                    <div class="folder-body" *ngIf="!addSuiteVisible">
                        <img src="../../../assets/static_images/folders.png" alt="folders">
                        <figcaption>Test Suite</figcaption>
                        <p>Create a new suite to display here</p>
                        <div>
                            <button class="btn good-btn btn-sm"(click)="addSuiteVisible=true;">Create a test Suite</button>
                        </div>
                    </div>
                    <div *ngIf="addSuiteVisible then testSuite;"></div>
                </figure>
            </div>
        </div>
    </div>
</div>

<ng-template #testSuite>
    <form #testSuiteForm="ngForm" (ngSubmit)="addTestSuite(testSuiteForm)">
    <div class="input-wrapper my-2">
        <label for="testsuitename">Title</label>
        <input id="testsuitename"
            class="custom-input p-1"
            type="text" name="name"
            placeholder="Enter suite title"
            [(ngModel)]="newTestSuiteInput.title"
            #name="ngModel"
            required>
    </div>
    <div *ngIf="name.invalid && (name.touched || name.dirty)">
        <div class="text-danger">Title is required</div>
    </div>
    <div class="flex-aic">
        <button [disabled]="testSuiteForm.invalid" class="btn btn-sm good-btn mr-2">Add</button>
        <i class="fa fa-times pointer" (click)="addSuiteVisibilityToggle(false)"></i>
    </div>
    </form>
</ng-template>