<div class="side-nav">
  <ul>
    <li>
      <a [routerLink]="['/organizations',organizationName,'products', productId, 'kanban-board']">
        <span class="icon"><i class="fa fa-list"></i></span>
        <span class="title">Kanban board</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/organizations',organizationName,'news-report']">
        <span class="icon"><i class="fa fa-chart-bar"></i></span>
        <span class="title">News Report</span>
      </a>
    </li>
  </ul>
</div>