<div class="side-nav" (mouseover)="onHover()" (mouseout)="onOut()">
  <ul>
    <li>
      <a [routerLink]="['/products', productId, 'kanban-board']">
        <span class="icon"><i class="fa fa-list"></i></span>
        <span class="title">Kanban board</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/scrum']">
        <span class="icon"><i class="fa fa-user-friends fa-2x"></i></span>
        <span class="title">Daily Scrum</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/news-report">
        <span class="icon"><i class="fa fa-newspaper"></i></span>
        <span class="title">News Report</span>
      </a>
    </li>
    <li>
      <a routerLink="/product-roadmap">
        <span class="icon"><i class="fa fa-road"></i></span>
        <span class="title">Product Roadmap</span>
      </a>
    </li> -->
  </ul>
</div>
